.text {
    text-align: center;
    padding-top: 100px;
  }

  .aa{
    padding-top: 25px;
  }
  
  ul{
    list-style: none;
  }

  .mm{
    text-align: center;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
    border-right:1px solid #bbb;
  }
  
  li:last-child {
    border-right: none;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #04AA6D;
  }

  .middle{
    margin-left: 72px;
    margin-right: 71px;
    padding-top: 50px;
    text-align: center;
}

.middlen{
    text-align: center;
    padding-top: 20px;
    color:cornflowerblue;
}
  